.App-logo {
  animation: App-logo-spin infinite 50s linear;
  display: block;
  left: -50vmin;
  top: -50vmin;
  width: 75%;
  position: absolute;
  z-index:-1;
}

.App-header {
  background-color: #fe7f2a;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index:1;
  position: absolute;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  left: 0;
}

.App-header-text {
  font-size: 16px;
}

.App-shop {
  padding: 1rem 1rem 3rem;
  width: 50%;
  margin-left: auto;
  margin-right: 0;
}

.App-products {
  max-width: 800px;
  text-align: center;
  z-index:1
}

@media (min-width: 800px) {
  .App-products {
    justify-content: center;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}